nz-select {
  margin-right: 10px;
  min-width: 160px;
}
.search-box {
  padding: 8px;
}

.search-box input {
  width: 288px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.un-available {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #ffffff !important;
  text-shadow: none;
  box-shadow: none;
}
