<div class="header">
  <div class="row justify-content-between">
    <div class="col-xl-1 col-lg-3 col-md-12 ">
      <h1 class="header-title">PROMOTIONS</h1>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12">
      <app-search-box (searchOnChange)="searchOnChange($event)"></app-search-box>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-12">
      <div style="float: right;">
        <button mat-raised-button (click)="create()">
          ADD NEW PROMOTION
        </button>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="userReponse.data">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 100px;">Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="minPoint">
        <th mat-header-cell *matHeaderCellDef>Min point</th>
        <td mat-cell *matCellDef="let element"> {{element.minPoint}} </td>
      </ng-container>
      <ng-container matColumnDef="maxPoint">
        <th mat-header-cell *matHeaderCellDef>Max point</th>
        <td mat-cell *matCellDef="let element"> {{element.maxPoint}} </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;">From</th>
        <td mat-cell *matCellDef="let element"> {{element.from | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;"> To </th>
        <td mat-cell *matCellDef="let element"> {{element.to | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Discount </th>
        <td mat-cell *matCellDef="let element"> {{element.discountPrice}} {{element.isPercent ? '%' : ''}} </td>
      </ng-container>
      <tr class="mat-row empty-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">
          <h3>No Data</h3>
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detail(row)"></tr>
    </table>

    <app-paginator [total]="userReponse.totalRows" [pageIndex]="userReponse.pageNumber"
      [pageSize]="userRequest.rowsPerPage" (pageIndexChange)="pageOnChange($event)"></app-paginator>
  </div>
</div>