<div class="row">
  <div class="col-4">
    <app-menu-item [country]="country.Vietnam" [menuItems]="vietnam"></app-menu-item>
  </div>
  <div class="col-4">
    <app-menu-item [country]="country.Thailand" [menuItems]="thailand"></app-menu-item>
  </div>
  <div class="col-4">
    <app-menu-item [country]="country.HongKong" [menuItems]="hongkong"></app-menu-item>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-4">
    <app-menu-item [country]="country.Philippines" [menuItems]="philippines"></app-menu-item>
  </div>
  <div class="col-4">
    <app-menu-item [country]="country.Slovakia" [menuItems]="slovakia"></app-menu-item>
  </div>
  <div class="col-4">
    <app-menu-item [country]="country.CzechRepublic" [menuItems]="czechrepublic"></app-menu-item>
  </div>

</div>
