<ul nz-menu nzTheme="light" nzMode="inline" style="min-height: 92vh;">
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="user" nzTheme="outline"></i>
    <a routerLink="/users" routerLinkActive="router-link-active">User</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="setting" nzTheme="outline"></i>
    <a routerLink="/restaurants" routerLinkActive="router-link-active">Restaurant</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="book" nzTheme="outline"></i>
    <a routerLink="/menus" routerLinkActive="router-link-active">Menu</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="snippets" nzTheme="outline"></i>
    <a routerLink="/base-products" routerLinkActive="router-link-active">Base product</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="branches" nzTheme="outline"></i>
    <a routerLink="/area" routerLinkActive="router-link-active">Admin area</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="branches" nzTheme="outline"></i>
    <a routerLink="/promotions" routerLinkActive="router-link-active">Promotions</a>
  </li>
</ul>
